/****** Housing Page ******/
.housing-page {
  align-items: center;
  width: 100%;

  padding: 0 2vw;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}
section {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
aside {
  width: 47%;
}
