body {
  max-width: 1024px;
  margin: auto;
  padding: 5vw;
  font-family: 'Montserrat', sans-serif;
}
/****** Housing Page ******/
main {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}
section {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
aside {
  width: 47%;
}

@media screen and (max-width: 426px) {
  /****** Housing Page ******/
  /****** About Page ******/
  /****** Error Page ******/
  main {
    flex-direction: column;
  }
  main article:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  section {
    flex-direction: column;
    margin-top: 3vw;
  }
  section aside {
    width: 100%;
  }
  .dropdowns {
    width: 100%;
  }
  .error span {
    font-size: 100px;
  }
  .error p {
    font-size: 20px;
  }
  .error a {
    font-size: 16px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  /****** Housing Page ******/
  /****** About Page ******/
  /****** Error Page ******/
  main {
    flex-direction: column;
  }
  article:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .dropdowns {
    width: 100%;
  }
  .error span {
    font-size: 120px;
  }
  .error p {
    font-size: 22px;
  }
  .error a {
    font-size: 17px;
  }
}
