.card {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
}
.card .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, white);
  opacity: 0.5;
  border-radius: 10px;
}
.card .overlay img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card .overlay h4 {
  position: absolute;
  top: 70%;
  left: 3%;
  color: #fff;
  z-index: 1;
}
@media screen and (max-width: 426px) {
  .card {
    width: 100%;
  }
  .card h4 {
    top: 75%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .card h4 {
    top: 75%;
  }
}
